<!-- Logo container -->
<div class="flex justify-center mb-8">
    <img src="./images/logo.svg" alt="Company Logo" class="w-32 md:w-48 lg:w-56 h-auto"/>
</div>
<h1
  id="brand-headline"
  class="leading-tight text-3xl tracking-tight sm:text-4xl sm:leading-tight md:text-5xl md:leading-tight font-medium md:text-left"
>
  <!-- {{ . }} -->
    Migliora l’esperienza di ricarica della tua auto elettrica
</h1>
<h3
  id="brand-subheadline"
  class="mt-6 sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-white leading-relaxed md:font-semibold "
>
  Home2car è una piattaforma gratuita per ricaricare con facilità la propria auto elettrica, in qualsiasi posto e in qualsiasi momento, presso punti di ricarica privati, a basso prezzo!
</h3>
